.pageContent_specialSection_dreapta{
    position: absolute;
    height: 630px;
    left: 5%;
    right: 0%;
    float: left;
}
.pageContent_specialSection_dreapta .dreptunghi_rosu{
    position: absolute;
    background-color: #BE123C;
    right: 0%;
    height: 100%;
    width: 40%;
}
.pageContent_specialSection_dreapta .imgMare{
    position: absolute;
    overflow: hidden;
    top: 10%;
    right: 10%;
    height: 80%;
    width: 60%;
    cursor: pointer;
}
.pageContent_specialSection_dreapta .textBox{
    position: absolute;
    top: 10%;
    left: 5%;
    right: 71%;
    height: 80%;
    text-align: right;
    display: flex;
    align-items: center;
}
.pageContent_specialSection_dreapta .textBox .text{
    font-weight: 700;
    font-size: 32px;
    line-height: 42px;
    color: black;
    cursor: pointer;
}



.pageContent_specialSection_dreapta .imgMare2{
    position: absolute;
    overflow: hidden;
    top: 10%;
    right: 10%;
    height: 80%;
    width: 45%;
    cursor: pointer;
}
.pageContent_specialSection_dreapta .textBox2{
    position: absolute;
    top: 10%;
    width: 20%;
    right: 57%;
    height: 80%;
    text-align: right;
    display: flex;
    align-items: center;
}
.pageContent_specialSection_dreapta .textBox2 .text2{
    font-weight: 700;
    font-size: 32px;
    line-height: 42px;
    color: black;
    cursor: pointer;
}
.pageContent_specialSection_dreapta .sageata_atizanala{
    position: absolute;
    top: 20%;
    left: -6%;
    height: 10%;
    width: 10%;
    text-align: right;
}
.pageContent_specialSection_dreapta .textMic{
    position: absolute;
    top: 85%;
    width: auto;
    right: 10%;
    height: 5%;
    display: flex;
    align-items: center;
    background-color: #FFF2EE;
}
.pageContent_specialSection_dreapta .textMic .text3{
   font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: black;
    cursor: pointer;
}

