.video_figure {
  margin: 0;
  padding: 5px;
}

.video_row{
  display: flex;
  justify-content: center;
  margin-top: 27px;
}

.video_column {
  padding: 10px;
  float: left;
  width: 31%;
  height: auto;
}


.video_player {
  width: 100%;
  height: 300px;
}

.clear {
  clear: both;
}

@media (max-width:767px) {
  .video_player {
    width: 100%;
    height: auto;
    float: none;
  }
}

.video_caption {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 23px;

  color: #111827;

  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
  color: black;
}

.pageContent_vidSection{
  position: absolute;
  height: 451px;
  left: 5%;
  right: 5%;
  float: left;
  
}
.pageContent_vidSection .title_vidSection{
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 20%;
}
.pageContent_vidSection .title_vidSection .title{
  color:black;
  font-weight: 700;
  font-size: 48px;
  line-height: 62px;
  order: 0;
  flex-grow: 0;
}
.pageContent_vidSection .title_vidSection .seeMoreContainer{
  order: 1;
  flex-grow: 0;
  cursor: pointer;
}
.seeMoreContainer .text{
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color:  #BE123C;
}